h1 {
    color: blue;
    font-size: xx-large;
}

label {
    color: black;
    font-size: 16px;
}

.input {
    margin-top: 10px;
    color: black;
    margin-bottom: 10px;
    font-size: 16px;
}

.input-1 {
    margin-left: 45px;
}

.input-2 {
    margin-left: 48px;
}

.input-3 {
    margin-left: 43px;
}

.input-4 {
    margin-left: 48px;
}

.input-5 {
    margin-left: 98px;
}

button {
    color: blue;
    margin-left: 120px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 12px;
}